streamlit
pandas
numpy
altair
dropbox
openpyxl
beautifulsoup4
html5lib
requests
opencv-python-headless
streamlit_js_eval
supabase
bs4
streamlit_url_fragment
streamlit_javascript
streamlit_supabase_auth